* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    width: 116%;
    height: auto;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    position: relative;
    left: 800px;
    color: white;
}

.navbar>.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: #ad033a;
    /* color: white;*/
    margin-bottom: -8px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(245, 245, 245, 0.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(245, 245, 245, 0.9);
}

.navbar-light .navbar-brand {
    color: rgb(255 255 255);
}
.w-100 {
    width: 100%!important;
    height: 60vh;
}
.a-2 {
    vertical-align: middle;
    width: 103%;
    height: 95vh;
}
.pepper {
    vertical-align: middle;
    width: 100%;
    height: 25vh;
}
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.container-piza {
    margin: 28px

}
.container about-pizza {
    position: relative;
    right: 100px;
}



